* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

body {
    height: 100vh;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.btn-opt {
    background: rgb(245, 228, 228);
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: rgb(137, 56, 115);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.btn-opt:hover {
    background-color: rgb(134, 242, 206);
}

#restart {
    font-size: 1.3em;
    padding: 0.5em;
    border-radius: 8px;
    border: none;
    background-color: rgb(21, 71, 21);
    color: rgb(233, 168, 47);
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
}

.info {
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 8px;
    border: none;
    /* background-color: rgb(21, 71, 21); */
    color: rgb(13, 4, 72);
    position: relative;
    margin: 1em;
    display: block;
    text-align: center;
}

.popup {
    background: linear-gradient(135deg, #ecd170, #d161ff);
    height: 100%;
    width: 100%;
    /* position:absolute; */
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 8vmin;
}

#new-game {
    font-size: 0.5em;
    padding: 0.3em 0.5em;
    background-color: rgb(71, 63, 45);
    color: rgb(162, 225, 225);
    border-radius: 0.2em;
    border: none;
    margin-left: 32em;
}

#message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    padding-left: 16em;
}